* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: center; /* Vertically center the container */
}

.container {
    min-height: 100vh;
    max-width: 800px;
    box-sizing: border-box;
    margin: auto;
    background-color: #4c7794;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    body {
        background-color: #4c7794;
    }
    .container {
        box-shadow: none;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #263238;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    position: relative;
}

@media (min-width: 769px) {
    .navbar {
        width: 800px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        bottom: 0;
        top: auto;
        padding: 5px 0;
        max-width: 100%;
    }
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.nav-link:hover {
    background-color: #1e2930;
    border-radius: 5px;
}

#logo {
    display: block;
    margin: auto;
    max-width: 150px;
    object-fit: contain;
    border-radius: 8px;
    padding: none;
}

.container h1 {
    color: #ffffff;
    font-size: 1.9rem;
    text-align: center;
}

.container h2 {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 5px;
}

.quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 350px;
}

#todaysquiz, #pastquizzes {
    width: 200px;
    height: 100px;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.75;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

#todaysquiz:hover, #pastquizzes:hover {
    opacity: 1;
}

.pastquizlinks {
    display: block;
    margin: 5px auto 5px auto;
    width: 250px;
    color: #000000;
    font-size: large;
    background-color: #ffffff;
    opacity: 0.75;
    text-decoration: none;
}

.container a {
    text-decoration: none;
}

.pastquizlinks:hover {
    background-color: #ffffff;
    opacity: 1;
}

/* Questions container styles */
.questions {
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
}

/* Video container styles */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
}

.questions h2 {
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.question p {
    color: #ffffff;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 5px;
    position: relative;
    top: 4px;
    cursor: pointer;
}

input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    top: 1px; /* Adjusted for centering */
    left: 1px; /* Adjusted for centering */
}

label {
    color: #ffffff;
}

.question p {
    font-weight: bold;
}

button {
    background-color: #263c4a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #8eafc5;
    color: #333;
}

#result {
    margin-top: 20px;
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
}
